
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui"{
   themes: light --default;
};

*{
    font-family: "Urbanist", sans-serif;
}

/* body{
  background-color:#e7e7e7;
  padding-top: 16px;
  padding-bottom: 16px;
} */


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CAEB66;
  --color-secondary: #03373D;
 --color-base-200: #f3f3f3;
  --color-accent:#33929D;
}

.my-btn {
    background-color: #CAEB66;
   ;
  }
  .my-btn:hover {
    background-color: #1C96E1;
    border-color: #1C96E1;
  }

  